<div id="<%= 'employment_' + employment.id.to_s + '_header' %>" class='update_employment_header'>
  <div class='employment_organization_name float-left'>
    <%= employment.organization.name %>
  </div>
  <div class='float-right'>
    <% link = display ? '닫기' : '수정' %>
    <%= link_to link, get_form_url(type:'employment', id:employment.id), id: 'update_employment_form_' + employment.id.to_s + '_link', class: 'get_form_link' %> 
  </div>
</div>
<div id="<%= 'employment_' + employment.id.to_s + '_body' %>" class='update_employment_body'>
  <% if display %> 
    <%= render partial: 'settings/update_employment_form', locals:{employment: employment} %>
  <% else %>
    <%= render partial: 'employments/additional_information', locals:{employment: employment} %>
  <% end %>
</div>

