<% comment_name = 'comment_' + comment.id.to_s %>
<div id="<%= comment_name %>">
  <div id="<%= comment_name + '_error_message' %>"></div>
  <div><%= comment.user.name %></div>
  <div><%= comment.created_at %></div>
  <div>
    <% if current_user.likes?(comment) %>
      <%= link_to "좋아요 취소", dislike_comment_url(comment), id: comment_name + '_like_link', remote: true %>
    <% else %>
      <%= link_to "좋아요", like_comment_url(comment), id: comment_name + '_like_link', remote: true %>
    <% end %>
    <% if current_user.wrote?(comment) %>
      <%= link_to "코멘트 삭제", comment_url(comment), method: :delete, remote: true %>
    <% end %>
  </div>
  <div id="<%= comment_name + '_likes' %>">
    <% if !comment.likes.blank? %>
      <% for like in comment.likes %>
        <span><%= like.user.name %></span>
      <% end %>님이 좋아합니다
    <% end %>
  </div>
  <% if comment.content.length < 300 %>
    <div><%= comment.content %></div>
  <% else %>
    <div class="comment_preview">
      <%= comment.content[0, 299] %></br>
      ...
    </div>
    <div>
      <%= link_to "더 읽기", comment_url(comment), class: "read_more_link" %>
    </div>
    <div class="comment" style="display:none">
      <%= comment.content %>
    </div>
  <% end %>
</div>
