<% comment_name = 'comment_' + comment.id.to_s %>
<div id="<%= comment_name %>" class='comment_container'>
  <div id="<%= comment_name + '_error_message' %>"></div>
  <div class='comment_main_section'>
    <span class='comment_author'><%= comment.user.wave %>기 <%= comment.user.name %></span>
    <% if comment.content.length < 300 %>
      <span class='comment_content'> <%= comment.content %></span>
    <% else %>
      <span class="comment_preview">
        <%= comment.content[0, 299] %></br>
        ...
      </span>
      <span>
        <%= link_to "더 읽기", comment_url(comment), class: "read_more_link" %>
      </span>
      <span class="comment_content" style="display:none">
        <%= comment.content %>
      </span>
    <% end %>  
  </div>
  <div class='content_activity_bar'>
    <span class='content_date'><%= comment.created_at %></span>
    <% if current_user.likes?(comment) %>
      <%= link_to "좋아요 취소", dislike_comment_url(comment), id: comment_name + '_like_link', remote: true %>
    <% else %>
      <%= link_to "좋아요", like_comment_url(comment), id: comment_name + '_like_link', remote: true %>
    <% end %>
    <% if current_user.wrote?(comment) %>
      · <%= link_to "삭제", comment_url(comment), method: :delete, remote: true %>
    <% end %>
  </div>
  <div id="<%= comment_name + '_likes' %>">
    <% if !comment.likes.blank? %>
      <% for like in comment.likes %>
        <span><%= like.user.name %></span>
      <% end %>님이 좋아합니다
    <% end %>
  </div>
</div>
