<div><%= comment.user.name %></div>
<div><%= comment.created_at %></div>
<% if comment.content.length < 300 %>
  <div><%= comment.content %></div>
<% else %>
  <div class="comment_preview">
    <%= comment.content[0, 299] %></br>
    ...
  </div>
  <div>
    <%= link_to "더 읽기", comment_url(comment), class: "read_more_link" %>
  </div>
  <div class="comment" style="display:none">
    <%= comment.content %>
  </div>
<% end %>
