<% if @like.errors.blank? %>
  <% comment_name = 'comment_' + @comment.id.to_s %>
  $("#<%= comment_name + '_likes' %>").prepend("<span><%= @like.user.name %></span>")
  $("#<%= comment_name + '_like_link' %>").html('좋아요 취소');
  $("#<%= comment_name + '_like_link' %>").attr('href', '<%= dislike_comment_url(@comment) %>');
<% else %>
<% end %>
