<%= render :partial => 'careers/careernote_intro' %>
<div class='commentable_divider'><%= image_tag(asset_path 'commentable_divider.png') %></div>

<div class='header_title'>
  <%="#{employment.user.wave}기 #{employment.user.name} 동문님의 커리어 노트" %>
</div>
<div class='careernote_profile'>
  <div class='employment_organization_name'><%= employment.organization.name %></div>
  <%= render partial: 'employments/additional_information', locals: {employment: employment} %>
</div>


