<% careernote_name = 'careernote_' + careernote.id.to_s %>

<div 

<div id='<%= careernote_name %>' class='posting_container' >

    <!-- POSTING ERROR MESSAGE -->
    <div id="<%= careernote_name + '_error_message'%>"></div>
    <% if view_type=='feed' %>
      <div id="<%= careernote_name + '_sources'%>">
        <span class='posting_author'><%= link_to careernote.user.wave.to_s + '기 ' + careernote.user.name, profile_url(careernote.user) %></span>
        <span class='careernote_feed_name'><%= "커리어 노트 " %><%="@#{careernote.employment.organization.name}" %></span>	
      </div>
    <% end %>
  <div class='careernote_cotent_container'>
  <% if view_type == 'posting' %>
    <%= raw careernote.content %>
  <% elsif view_type =='feed' %>
    <% if careernote.content.length < 300 %>
      <div id="<%= careernote_name + '_content' %>" class='posting_content content'><%= simple_format(careernote.content) %></div>
    <% else %>
      <div id="<%= careernote_name + '_content' %>" class="posting_content posting_preview content">
        <%= simple_format(careernote.content[0, 299]) %>...<%= link_to "더 읽기", get_careernote_content_url(careernote), remote: true, class: "read_more_link" %>
      </div>
    <% end %>
  <% end %>
  
  <%= render partial: 'comments/commentable_area', locals: {commentable: careernote} %>
  
  </div>
</div>

