<%= render :partial => 'careers/careernote_intro' %>
<span>
<%= "#{User.find(employment.user_id).name}님, " %> 
</span>
<span class='careernote_organization_name'>
  <%= employment.organization.name %>
</span>
<% unless employment.position.blank? %>
  | <span>
    <%= employment.position %>
  </span>
<% end %>
<% unless employment.start_year.blank? %>
  | <span>
  <%= employment.start_year.year %> -
    <% if employment.end_year.blank? %>
       현재
    <% else %>
      <%= employment.end_year.year %>
    <% end %>
  </span>
<% end %>
<span>
에서의 경험을 공유해주세요!
</span>

