<div id='header'>
  <div class='header_title'>동문회 소모임</div>
</div>
<div id='groups_container'>
  <% for group in @groups %>
    <div class='group_link_container'> 
      <div><%= link_to group.name, group_url(group), class: 'group_link' %></div>
      <% if group.description.length < 300 %>
        <div class='group_description'><%= group.description %></div>
      <% else %>
        <div class="group_description">
          <%= posting.content[0, 299] %>...
       </div>
       <div>
         <%= link_to "더 읽기", '#', class: "read_more_link" %>
       </div>
       <div class="group_description" style="display:none">
         <%= group.description %>
       </div>
      <% end %>
    </div>
  <% end %>
</div>
