<div>
	소모임 이름: <%= @group.name %>
</div>
<div>
	소모임 소개: <%= @group.description %>
</div>
<div>
	<% if @user_is_a_member %>
      <%= button_to "소모임 나가기", delete_member_url(@group), method: :post %>
		<% if @user_is_an_admin %>
			<div><%= link_to "소모임 설정", edit_group_url(@group) %></div>
			<div><%= button_to "소모임 폐쇄", @group, method: :delete, confirm: "정말 #{@group.name}을 폐쇄하실 겁니까?" %></div>
		<% end %>
	<% else %>
      <%= button_to "소모임 가입", add_member_url(@group), method: :post %>
	<% end %>
</div>
<% if @user_is_a_member %>
	<div>
      <div id="posting_error_message"></div>
      <%= form_for [@group, Posting.new], remote: true do |f| %>
	    <%= f.text_area :content %>
        <%= f.hidden_field :platform, value: Posting::PLATFORM['GROUP'] %>
	    <div><%= submit_tag '올리기' %></div>
      <% end %>
	</div>
<% end %>
<div id="postings">
</div>
<%= render partial: 'postings/posting_script', locals: {serialized_paginate_params: ("'platform=group&group_id=" + @group.id.to_s() + "'").html_safe} %>
