<div id='header'>
  <div class='header_title float-left'><%= @group.name %></div>
  <div class='group_settings float-right'>
    <% if @user_is_a_member %>
      <span><%= button_to "소모임 나가기", delete_member_url(@group), method: :post %></span>
	<% else %>
      <span><%= button_to "소모임 가입", add_member_url(@group), method: :post %></span>
	<% end %>
    <% if @user_is_an_admin %>
      <span><%= link_to "소모임 설정", edit_group_url(@group) %></span>
      <span><%= button_to "소모임 폐쇄", @group, method: :delete, confirm: "정말 #{@group.name}을 폐쇄하실 겁니까?" %></span>
    <% end %>
  </div>
</div>
<% if @user_is_a_member %>
	<%= render partial: 'postings/new_posting_form', locals: {value: Posting::PLATFORM['GROUP'], resource: [@group, Posting.new], placeholder: current_user.name + ' 동문님, ' + @group.name + ' 멤버들에게 한마디 적어주세요'} %>
<% end %>
<div id='page_content_container'>
  <div id="postings">
  </div>
</div>
<%= render partial: 'postings/posting_script', locals: {serialized_paginate_params: ("'platform=group&group_id=" + @group.id.to_s() + "'").html_safe} %>
