<div>
	소모임 이름: <%= @group.name %>
</div>
<div>
	소모임 소개: <%= @group.description %>
</div>
<div>
	<% if @membership.blank? %>
		<%= button_to "소모임 가입", add_member_url(@group), method: :post %>
	<% else %>
		<%= button_to "소모임 나가기", delete_member_url(@group), method: :post %>
		<% if @membership.admin %>
			<div><%= link_to "소모임 설정", edit_group_url(@group) %></div>
			<div><%= button_to "소모임 폐쇄", @group, method: :delete, confirm: "정말 #{@group.name}을 폐쇄하실 겁니까?" %></div>
		<% end %>
	<% end %>
</div>
<% unless @membership.blank? %>
	<div>
		<%= form_for [@group, @posting] do |f| %>
			<%= f.text_area :content %>
			<div><%= f.submit '올리기' %></div>
		<% end %>
	</div>
<% end %>
<div>
	<% @group.postings.each do |posting| %>
		<div><%= posting.user.name %></div>
		<div><%= posting.content %></div>
	<% end %>
</div>