<% posting_name = 'posting_' + posting.id.to_s %>
<div id='<%= posting_name %>' class='posting_container'>
  <div id="<%= posting_name + '_error_message'%>"></div>
  <div id="<%= posting_name + '_sources'%>">
    <span class='posting_name'><%= posting.user.wave %>기 <%= posting.user.name %></span>
    <% if posting.platform == Posting::PLATFORM['GROUP'] %>
      <span class='posting_group'>@<%= link_to posting.group.name, group_url(posting.group) %></span>
    <% end %>
    <span class='posting_date'><%= posting.created_at %></span>
  </div>
  <div class='posting_content_container'>
    <% if posting.content.length < 300 %>
      <div class='posting_content'><%= posting.content %></div>
    <% else %>
      <div class="posting_content posting_preview">
        <%= posting.content[0, 299] %></br>
        ...
      </div>
      <div>
        <%= link_to "더 읽기", posting_url(posting), class: "read_more_link" %>
      </div>
      <div class="posting_content" style="display:none">
        <%= posting.content %>
      </div>
    <% end %>
  </div>
  <div class='posting_divider'><img src='/assets/posting_divider.png'/></div>
  <div class='posting_activity_bar'>
    <% if current_user.likes?(posting) %>
      <%= link_to "좋아요 취소", dislike_posting_url(posting), id: posting_name + '_like_link', remote: true %>
    <% else %>
      <%= link_to "좋아요", like_posting_url(posting), id: posting_name + '_like_link', remote: true %>
    <% end %>
    <% if current_user.wrote?(posting) %>
      · <%= link_to "삭제", posting_url(posting), method: :delete, remote: true %>
    <% end %>
  </div>
  <div id="<%= posting_name + '_likes' %>" class='posting_likes'>
    <% if !posting.likes.blank? %>
      <% for like in posting.likes %>
        <span><%= like.user.name %></span>
      <% end %>님이 좋아합니다
    <% else %>
      
    <% end %>
  </div>
  <div id="<%= posting_name + '_comments'%>" class='posting_comments_container'>
    <% if posting.comments.length > 3 %>
      <div id="<%= posting_name + '_get_more_comments_link'%>">
        <%= link_to posting.comments.length.to_s + "개의 댓글 모두 보기", feed_comments_url(posting_id: posting.id), class: 'get_more_comments_link' %>
      </div>
    <% end %>
    
    <%= render posting.comments.order('created_at').limit(3) %>
  </div>
  <div>
      <div id="<%= posting_name + '_comment_error_message'%>"></div>
      <%= form_for [posting, Comment.new], namespace: [:posting, posting.id], remote: true do |f| %>
        <%= f.text_area :content, class: 'posting_comment_textarea', placeholder: current_user.name + ' 동문님, 댓글 달아주세요!' %>
        <div><%= f.submit '댓글 달기' %></div>
      <% end %>
  </div>
  
</div>
