<% posting_name = 'posting_' + posting.id.to_s %>
<% user_likes_posting = current_user.likes?(posting) %>

<!-- POSTING -->
<div id='<%= posting_name %>' class='posting_container'>
  
  <!-- POSTING ERROR MESSAGE -->
  <div id="<%= posting_name + '_error_message'%>"></div>
  
  <!-- POSTING SOURCES (AUTHOR, PLATFORM etc.)-->
  <div id="<%= posting_name + '_sources'%>">
  
    <% if posting.platform == Posting::PLATFORM['GROUP'] %>
      <span class='posting_author'><%= posting.user.wave %>기 <%= posting.user.name %></span>
      <% if is_newsfeed %>
        <span class='posting_group'><%= link_to '@' + posting.group.name, group_url(posting.group) %></span>
      <% end %>
    <% elsif posting.platform == Posting::PLATFORM['WALL'] %>
      <span class='posting_author'><%= posting.user.wave %>기 <%= posting.user.name %></span>
    <% elsif posting.platform == Posting::PLATFORM['ANNOUNCEMENT'] %>
      <span class='posting_group'><%= link_to '[동문회 공지]', announcement_url, class: 'posting_announcement_link' %></span>
    <% end %>
    
  </div>
  
  <!-- POSTING CONTENT -->
  <div class='posting_content_container'>
    
    <% if posting.content.length < 300 %>
      <div id="<%= posting_name + '_content' %>" class='posting_content content'><%= simple_format(posting.content) %></div>
    <% else %>
      <div id="<%= posting_name + '_content' %>" class="posting_content posting_preview content">
        <%= posting.content[0, 299] %>...<%= link_to "더 읽기", get_posting_content_url(posting), remote: true, class: "read_more_link" %>
      </div>
    <% end %>
  </div>
  
  <!-- POSTING DIVIDER -->
  <div class='posting_divider'><img src='/assets/posting_divider.png'/></div>
  
  <!-- ACTIVITY BAR (LIKE, DELETE etc.) -->
  <div class='content_activity_bar'>
    <% if user_likes_posting %>
      <%= link_to "좋아요 취소", dislike_posting_url(posting), id: posting_name + '_like_link', remote: true %>
    <% else %>
      <%= link_to "좋아요", like_posting_url(posting), id: posting_name + '_like_link', remote: true %>
    <% end %>
    <% if current_user.wrote?(posting) %>
      · <%= link_to "삭제", posting_url(posting), method: :delete, remote: true %>
    <% end %>
    <span class='content_date'><%= posting.created_at %></span>
  </div>
  
  <!-- POSTING LIKES --->
  <div id="<%= posting_name + '_likes_container' %>" class='posting_likes_container'>
    <%= render partial: 'postings/posting_likes', locals: {posting: posting} %>
  </div>
  
  <!-- POSTING COMMENTS -->
  <div id="<%= posting_name + '_comments'%>" class='posting_comments_container'>
    <div id="<%= posting_name + '_get_more_comments_link_container'%>" class='posting_get_more_comments_link_container'>
      <%= render partial: 'postings/posting_get_more_comments_link', locals: {posting: posting} %>
    </div>
    
    <%= render posting.comments.order('created_at').last(3) %>
  </div>
  
  
  <% if @writeability %>
    <!-- POSTING NEW COMMENT FORM -->
    <div class='posting_new_comment_form'>
        <div id="<%= posting_name + '_comment_error_message'%>" class='warning'></div>
        <%= form_for [posting, Comment.new], namespace: [:posting, posting.id], remote: true do |f| %>
          <%= f.text_area :content, class: 'posting_comment_textarea', placeholder: current_user.name + ' 동문님, 댓글 달아주세요!' %>
        <% end %>
    </div>
  <% end %>
  
</div>
