<% user_likes_posting = current_user.likes?(posting) %>
<% num_likes = posting.likes.length %>
<% if num_likes > 0 %>
  <div class='posting_likes'>
    <% if num_likes == 1 %>
      <% if user_likes_posting %>
         동문님이 좋아합니다
      <% else %>
        <% like = posting.likes.first %>
        <%= like.user.name %>님이 좋아합니다 
      <% end %>
    <% else %>
      <% if user_likes_posting %>
        <% like = posting.likes.where('user_id != ?', current_user).first %>
        <% if num_likes == 2 %>
           동문님과 <%= like.user.name %>님이 좋아합니다
        <% else %>
           동문님, <%= like.user.name %> 외 <%= num_likes - 2 %>명이 좋아합니다 
        <% end %>
      <% else %>
        <% likes = posting.likes.first(2) %>
        <% if num_likes == 2 %>
          <%= likes[0].user.name %>과 <%= likes[1].user.name %>님이 좋아합니다
        <% else %>
          <%= likes[0].user.name %>, <%= likes[1].user.name %> 외 <%= num_likes - 2 %>명이 좋아합니다 
        <% end %>
      <% end %>
    <% end %>
  </div>
<% end %>
