<% user_likes_posting = current_user.likes?(posting) %>
<% num_likes = posting.likes.length %>
<% if num_likes > 0 %>
  <div class='posting_likes'>
    <% if num_likes == 1 %>
      <% if user_likes_posting %>
         <%= link_to '동문', profile_url(current_user) %>님이 좋아합니다
      <% else %>
        <% like = posting.likes.first %>
        <% like_user = like.user %>
        <%= link_to like_user.name, profile_url(like_user) %>님이 좋아합니다 
      <% end %>
    <% else %>
      <% if user_likes_posting %>
        <% like = posting.likes.where('user_id != ?', current_user).first %>
        <% like_user = like.user %>
        <% if num_likes == 2 %>
          <%= link_to '동문', profile_url(current_user) %>님과 <%= link_to like_user.name, profile_url(like_user) %>님이 좋아합니다
        <% else %>
          <%= link_to '동문', profile_url(current_user) %>님, <%= link_to like_user.name, profile_url(like_user) %> 외 <%= link_to (num_likes - 2).to_s + '명',  get_likes_url(posting_id: posting), class: 'get_likes_link'  %>명이 좋아합니다 
        <% end %>
      <% else %>
        <% likes = posting.likes.first(2) %>
        <% like_user_first = likes[0].user %>
        <% like_user_second = likes[1].user %>
        <% if num_likes == 2 %>
          <%= link_to like_user_first.name, profile_url(like_user_first) %>과 <%= link_to like_user_second.name, profile_url(like_user_second) %>님이 좋아합니다
        <% else %>
          <%= link_to like_user_first.name, profile_url(like_user_first) %>, <%= link_to like_user_second.name, profile_url(like_user_second) %> 외 <%= link_to (num_likes - 2).to_s + '명',  get_likes_url(posting_id: posting), class: 'get_likes_link' %>이 좋아합니다 
        <% end %>
      <% end %>
    <% end %>
  </div>
<% end %>
