<div id='conditions_message'>
    <%= form_tag search_alumni_url, remote: true do %>
    "
     <span id='form_employment_section'>
       <span id='organization' style='display:none'>
         <%= text_field_tag :organization, nil, id: 'organization_name_field', placeholder: '직장 이름', autocomplete: :off %>
         에서 일<span id='organization_end'>한</span>
       </span>
     </span>
     <span id='form_education_section'>
       <span id='school' style='display:none'>
         <%= text_field_tag :school, nil, id: 'school_name_field', placeholder: '학교 이름', autocomplete: :off %>
         에서 공부한
       </span>
     </span>
     <span id='form_personal_section'>
      <span id='wave' style="display:none">
        <%= select_tag :wave, options_for_select((1..(Time.now.year - 1998)).map {|s| ["#{s}", s]}), id: 'wave_field', include_blank:true, default:nil, autocomplete: :off %>기  
      </span>
      <span id='name' style="display:none">
        <%= text_field_tag :name, nil, id: 'name_field', placeholder: '이름', autocomplete: :off %>
      </span> 
      
      <span id='default'>모든</span>
       동문을 찾습니다
    </span>"
    <div><%= submit_tag '동문 찾기' %></div>
    <% end %>
</div>



<div id="conditions_panel">
    <span>
      <%= check_box_tag :name, :name, false, id: 'name_checkbox', autocomplete: :off %>이름  
    </span>
    <span>
      <%= check_box_tag :wave, :wave, false, id: 'wave_checkbox', autocomplete: :off %>기수  
    </span>
    <span>
      <%= check_box_tag :school, :school, false, id: 'school_checkbox', autocomplete: :off %>학교  
    </span>
    <span>
      <%= check_box_tag :organization, :organization, false, id: 'organization_checkbox', autocomplete: :off %>직장  
    </span>
</div>

<div id="alumni_search_result">
</div>

<script text="javascript">
  $(document).ready( function() {
    var has_conditions = false;
    var name_added = false;
    var wave_added = false;
    var school_added = false;
    var organization_added = false;
    var num_sections_added = 0;
    
    $('#name_checkbox').change( function() {
      name_added = $(this).attr('checked') ? true : false;
      has_conditions = name_added || wave_added || school_added || organization_added;
      $('#name').toggle(name_added);     
      $('#default').toggle(!has_conditions);
      if (!name_added) $('#form_name').val('');
    });
    
    $('#wave_checkbox').change( function() {
      wave_added = $(this).attr('checked') ? true : false;
      has_conditions = name_added || wave_added || school_added || organization_added;
      $('#wave').toggle(wave_added);
      $('#default').toggle(!has_conditions);
      if (!wave_added) $('#form_wave').val('');
    });
    
    $('#school_checkbox').change( function() {
      school_added = $(this).attr('checked') ? true : false;
      has_conditions = name_added || wave_added || school_added || organization_added;
      $('#school').toggle(school_added);
      $('#default').toggle(!has_conditions);
      if (!school_added) $('#form_school').val('');
      if (organization_added) {
        if (school_added) $('#organization_end').html('했고, ');
        else $('#organization_end').html('한');
      }
    });
    
    $('#organization_checkbox').change( function() {
      organization_added = $(this).attr('checked') ? true : false;
      has_conditions = name_added || wave_added || school_added || organization_added;
      $('#organization').toggle(organization_added);
      $('#default').toggle(!has_conditions);
      if (!organization_added) $('#organization_school').val('');
      if (organization_added) {
        if (school_added) $('#organization_end').html('했고, ');
        else $('#organization_end').html('한');
      }
    });
  });
</script>

<%= render partial: 'settings/autocomplete_script', locals: {type: 'school', url: get_school_suggestions_url(:json)} %>
<%= render partial: 'settings/autocomplete_script', locals: {type: 'organization', url: get_organization_suggestions_url(:json)} %>
