<div>
	Welcome <%= current_user.name %>
</div>
<div>
	<%= link_to '새로운 소모임 만들기', new_group_url %>
</div>
<div>
	<% current_user.groups.each do |group| %>
			<%= link_to group.name, group_url(group) %>
	<% end %>
</div>
<div>
	<%= link_to '로그아웃', logout_url, method: :delete %>
</div>
<div id="postings">
</div>
<%= render partial: 'postings/pagination_script' %>
