<div>
  <%= current_user.wave %>기 <%= current_user.name %> 동문님, 반갑습니다!
</div>
<div>
  <%= link_to '내 정보 설정', settings_url %> 
</div>
<div>
	<%= link_to '그룹 만들기', new_group_url %>
</div>
<div>
  <%= link_to '동문회 담벼락', wall_url %>
</div>
<div>
  <%= link_to '동문 검색', network_url %>
<div>
	<% for group in current_user.groups %>
        <%= link_to group.name, group_url(group) %>
	<% end %>
</div>
<div>
	<%= link_to '로그아웃', logout_url, method: :delete %>
</div>
<div id="postings">
</div>
<%= render partial: 'postings/posting_script', locals: {serialized_paginate_params:  ("'platform=newsfeed'").html_safe} %>
