<%= form_for(education, html: { method: :put}, remote: true)  do |f| %>

  <div>전공<br />
  <%= f.text_field :major %></div>
  
  <div>학위과정<br />
  <%= f.text_field :degree %></div>
  
  <div>기간<br />
  <%= f.date_select :entrance_year, start_year: (Time.now.year + 5), end_year: 1996, discard_month: true, discard_day: true, include_blank: true, default: nil %>
   ~
  <%= f.date_select :graduation_year, start_year: (Time.now.year + 5), end_year: 1996, discard_month: true, discard_day: true, include_blank: true, default: nil %></div>

  <div><%= f.submit "저장하기" %></div>
  <div><%= link_to '삭제하기', destroy_education_url(education), method: :delete, remote: true %></div>
  
<% end %>
