<%= form_for(@education, html: { method: :put}, remote: true)  do |f| %>

  <div>전공<br />
  <%= f.text_field :major %></div>
  
  <div>학위과정<br />
  <%= f.text_field :degree %></div>
  
  <div>입학년도<br />
  <%= f.date_select :entrance_year, start_year: (Time.now.year + 5), end_year: 1996, discard_month: true, discard_day: true, include_blank: true, default: nil %></div>
  
  <div>졸업(예정)년도<br />
  <%= f.date_select :graduation_year, start_year: (Time.now.year + 5), end_year: 1996, discard_month: true, discard_day: true, include_blank: true, default: nil %></div>

  <div><%= f.submit "저장" %></div>
  
<% end %>
