<div id='profile_header'>
  <div id='profile_pic' class='float-left'>
    <%= image_tag asset_path('default_profile_pic.png') %>
  </div>
  <div id='profile_user' class='float-left'>
    <div id='profile_name' class='header_title'>
      <%=link_to "#{current_user.wave}기 #{current_user.name}", profile_url(current_user) %>
    </div>
    <div id='status'></div>
  </div>
  <div id='profile_settings' class= 'float-right'><%= link_to '완', profile_url(current_user) %></div>
</div>

<div id='settings_wrapper'>

  <div id='settings_long_section' class='float-left'>
    <div id='employments_container' class='settings_category_container'>
      <div class='settings_category_title'>직장</div>
      <div id='employments'>
        <% for employment in current_user.employments %>
          <div id="<%= 'employment_' + employment.id.to_s + '_container' %>" class='employment_container'>
            <%= render partial: 'employments/employment_with_update', locals:{employment: employment, display: false} %>
          </div>
        <% end %>
      </div>
      <div id='add_employment_form_container'>
      </div>
      <div>
        <%= link_to '직장 추가하기', '#',  id:'add_employment_form_link'%>
      </div>
    </div>

    <div id='educations_container' class='settings_category_container'>
      <div class='settings_category_title'>학력</div>
      <div id='educations'>
        <% for education in current_user.educations %>
          <div id="<%= 'education_' + education.id.to_s + '_container' %>" class='education_container'>
            <%= render partial:'educations/education_with_update', locals:{education: education, display: false} %>
          </div>
        <% end %>
      </div>
      <div id='add_education_form_container'>
      </div>
      <div>
        <%= link_to '학교 추가하기', '#', id:'add_education_form_link' %>
      </div>
    </div>
    
    <div id='password_container' class='settings_category_container'>
      <div class='settings_category_header'>
        <div class='settings_category_title float-left'>비밀번호</div>
        <div class='float-right'><%= link_to "수정", get_form_url(type:'password'), id: 'update_password_form_link', class: 'get_form_link' %></div>
      </div>
      <div id='password_body' class='settings_category_body'>
      </div>
    </div>
  </div>
  
  <div id='settings_short_section' class='float-right'>
  
    <div id='basic_information_container' class='settings_category_container'>
      <div id='basic_information_header' class='settings_category_header'>  
        <div class='settings_category_title float-left'>기본 정보</div>
        <div class='float-right'>
          <%= link_to "수정", get_form_url(type:'basic_information'), id: 'update_basic_information_form_link', class: 'get_form_link' %>
        </div>
      </div>
      <div id='basic_information_body' class='settings_category_body'>
        <%= render partial: 'network/basic_information', locals:{user: current_user} %>
      </div>
    </div>

    <div id='contact_information_container' class='settings_category_container'>
      <div id='contact_information_header' class='settings_category_header'>  
        <div class='settings_category_title float-left'>연락처</div>
        <div class='float-right'>
          <%= link_to "수정", get_form_url(type:'contact_information'), id: 'update_contact_information_form_link', class: 'get_form_link' %>
        </div>
      </div>
      <div id='contact_information_body' 'class='settings_category_body'>
        <%= render partial: 'network/contact_information', locals:{user: current_user} %>
      </div>
    </div>

    
  </div>

</div>

<script text="javascript">
  $(document).ready( function() {
    
    $('body').on('click', '.get_form_link', function(event) {
      event.preventDefault();
      openParam = '&open='
      if ($(this).html() == '수정') {
        openParam += 'true'
        $(this).html('닫기');
      } else {
        openParam += 'false'
        $(this).html('수정');
      }
      $.ajax({
        url: $(this).attr('href') + openParam,
        type: 'get',
        dataType: 'script'
      });
    });
    
    $('body').on('click', '#add_education_form_link', function(event) {
      event.preventDefault();
      $(this).hide();
      $.ajax({
        url: '/get_add_education_form',
        type: 'get',
        dataType: 'html',
        success: function(data) {
           $('#add_education_form_container').html(data);
        }
      });
    });
    
    $('body').on('click', '#add_employment_form_link', function(event) {
      event.preventDefault();
      $(this).hide();
      $.ajax({
        url: '/get_add_employment_form',
        type: 'get',
        dataType: 'html',
        success: function(data) {
           $('#add_employment_form_container').html(data);
        }
      });
    });
    
    $('body').on('click', '.school_name_option', function(event) {
      event.preventDefault();
      $('#school_name_field').val($(this).html());
    });
    
    $('body').on('click', '.organization_name_option', function(event) {
      event.preventDefault();
      $('#organization_name_field').val($(this).html());
    });
    
    $('body').on('submit', '#add_education_form', function() {
      var valuesToSubmit = $('#add_education_form').serialize();
      $.ajax({
        url: $('#add_education_form').attr('action'), //submits it to the given url of the form
        data: valuesToSubmit,
        type: 'post',
        dataType: 'script' // you want a difference between normal and ajax-calls, and json is standard
      })
      $('#add_education_form_container').html('');
      $('#add_education_form_link').show();
      return false;
    });
    
    $('body').on('submit', '#add_employment_form', function() {
      var valuesToSubmit = $('#add_employment_form').serialize();
      $.ajax({
        url: $('#add_employment_form').attr('action'), //submits it to the given url of the form
        data: valuesToSubmit,
        type: 'post',
        dataType: 'script' // you want a difference between normal and ajax-calls, and json is standard
      })
      $('#add_employment_form_container').html('');
      $('#add_employment_form_link').show();
      return false;
    });
    
  });
</script>
