<% careernote_name = 'careernote_' + careernote.id.to_s %>
<div>
  <div id='<%= careernote_name %>' class='feedable_container' >
  <div id="<%= careernote_name + '_sources'%>">
    <span class='feedable_author'><%= link_to careernote.user.wave.to_s + '기 ' + careernote.user.name, profile_url(careernote.user) %></span>
    <span class='careernote_feed_name'><%= "커리어 노트 " %><%="@#{careernote.employment.organization.name}" %></span>	
  </div>
  <div class='careernote_content_container'>
    <%= link_to careernote_path(careernote) do %>
    <div class='careernote_feed_employmentinfo'>
      <%= render partial: 'careernotes/careernote_employment_information', locals: {employment: careernote.employment} %>
    </div>
    <% end %>
    <div class='careernote_feed_content'>
    <% if careernote.content.length < 100 %>
      <div id="<%= careernote_name + '_content' %>" class='posting_content content'><%= simple_format(careernote.content) %></div>
      <%= link_to "더 읽기", careernote_url(careernote), class: "read_more_link" %>
    <% else %>
      <div id="<%= careernote_name + '_content' %>" class="posting_content posting_preview content">
        <%= simple_format(careernote.content[0, 100]) %>...
        <%= link_to "더 읽기", careernote_url(careernote), class: "read_more_link" %>
      </div>
    <% end %>
    </div>
  </div>
  
  <%= render partial: 'comments/commentable_area', locals: {commentable: careernote} %>
  
  <!-- DIVIDER -->
  <div class='commentable_divider'><%= image_tag(asset_path 'commentable_divider.png') %></div>
</div>

