<div id="<%= 'education_' + education.id.to_s + '_header' %>" class='update_education_header'>
  <div class='education_school_name float-left'>
    <%= education.school.name %>
  </div>
  <div class='float-right'>
    <% link = display ? '닫기' : '수정' %>
    <%= link_to link, get_form_url(type:'education', id:education.id), id: 'update_education_form_' + education.id.to_s + '_link', class: 'get_form_link' %> 
  </div>
</div>
<div id="<%= 'education_' + education.id.to_s + '_body' %>" class='update_education_body'>
  <% if display %> 
    <%= render partial: 'settings/update_education_form', locals:{education: education} %>
  <% else %>
    <%= render partial: 'educations/additional_information', locals:{education: education} %>
  <% end %>
</div>
