<div class='education_main_container'>
  <%= render partial: 'educations/education', locals:{education: education} %>
  <div class='education_get_form_link_container float-right'>
    <% link = display ? '닫기' : '수정' %>
    <%= link_to link, '#', id: 'update_education_form_' + education.id.to_s + '_link', class: 'get_form_link' %> 
  </div>
</div>
<div class='update_education_container'>
  <div id="update_education_form_<%= education.id.to_s %>_error_message"></div>
  <div id="update_education_form_<%= education.id.to_s %>_link_container" class="get_form_container" style='display:none'>
    <%= render partial: 'settings/update_education_form', locals:{education: education} %>
  </div>
</div>
