<% careernote_name = 'careernote_' + careernote.id.to_s %>

<div class="careernote_box">
  <div class = "careernote_box_header">
    <%= image_tag(asset_path('default_profile_pic.png'), size:"30x30", class:"careernote_box_profile_pic") %>
    <div id="#{careernote_name}_author_name", class="careernote_box_author_name">
      <%= link_to careernote.user.wave.to_s + '기 ' + careernote.user.name, profile_url(careernote.user) %> 
    </div>
 </div>
 <div class = "careernote_box_employmentinfo">
     <%= render partial: 'careernotes/careernote_employment_information', locals: {employment: careernote.employment} %>
  </div>
   <div class="careernote_box_content">
     <%= render partial: 'careernotes/careernote_content', locals: {careernote: careernote} %>
   </div>
   <div class="careernote_box_likes_comments">
     <%= "좋아요 #{careernote.likes.length}" %>
     <%= "댓글 #{careernote.comments.length}" %>
     <%= link_to "더 보기", '' %>
   </div> 
</div>
