<% careernote_name = 'careernote_' + careernote.id.to_s %>
<div class='careernote_content'>
  <% if careernote.content.length < 300 %>
    <div id="<%= careernote_name + '_content' %>" class='posting_content content'>
      <%= simple_format(careernote.content) %>
    </div>
  <% else %>
    <div id="<%= careernote_name + '_content' %>" class="posting_content posting_preview content">
      <%= simple_format(careernote.content[0, 299]) %>...
      <%= link_to "더 읽기", get_careernote_content_url(careernote), remote: true, class: "read_more_link" %>
    </div>
  <% end %>
</div>
