  <div id='horizontalbar_container'>
    <div id='logo_bar_container', class='shadow'>    
      <ul id ="horizontalbar">
        <li><a href='/'><%= image_tag(asset_path('logo.png'), size:"120x120", id: "bar_logo") %></a></li>
        <li class='bar_title'>동문회
         <ul>
            <li><%= link_to '공지사항', announcement_url, class:'horizontalbar_link' %></li>
            <li><%= link_to '뉴스레터', newsletter_url, class:'horizontalbar_link' %></li>
            <li><%= link_to '정관', regulations_url, class:'horizontalbar_link' %></li>
          </ul>   
        </li>
        <li class='bar_title'>
          Kmla Connect
          <ul>
            <li> <%= link_to '커리어노트', careernotes_url, class:'horizontalbar_link' %></li>
          </ul>                  
        </li>
        <li class='bar_title'>내 소모임
          <ul>
           <% for group in current_user.groups %>
            <li><%= link_to group.name, group_url(group), class:'horizontalbar_link' %></li>
           <% end %>
           <li><%= link_to '소모임 찾기', groups_url, class: 'horizontalbar_option_link' %></li>
           <li><%= link_to '+ 소모임 만들기', new_group_url, class: 'sidebar_option_link' %></li>
          </ul>
        </li>
        <li class='bar_title'>동문 검색
          <ul>
            <li><%= link_to '기수별', network_url, class:'horizontalbar_link' %></li>
            <li> <%= link_to '학교별', network_school_url, class:'horizontalbar_link' %></li>
          </ul>
        </li>           
      </ul>
      <div id ="personal_bar_container">
        <ul id = "personal_bar">
          <li class='bar_title'><%= link_to "#{current_user.wave}기 #{current_user.name}", profile_url(current_user), class: 'horizontalbar_link' %></li>
          <li class='option_link'><%= link_to '로그아웃', logout_url, id:'logout_link', method: :delete %></li>
        </ul>     
      </div>
    </div>
      
      
  </div>
