  <div id='horizontalbar_container'>
      <ul id ="horizontalbar">
        <li id='bar_logo'>
           <a href='/'><%= image_tag(asset_path('logo.png'), size:"100x20") %></a>
        </li>
        <li><%= link_to "#{current_user.wave}기 #{current_user.name}", profile_url(current_user), class: 'horizontalbar_link' %></li>
        <li class='bar_title'><%= link_to '뉴스피드', root_url, class:'horizontalbar_link' %></li>
        <li class='bar_title'>
          Kmla Connect
          <ul>
            <li> <%= link_to '커리어노트', careernotes_url, class:'horizontalbar_link' %></li>
          </ul>                  
        </li>
        <li>동문회
         <ul>
            <li><%= link_to '공지사항', announcement_url, class:'horizontalbar_link' %></li>
            <li><%= link_to '뉴스레터', newsletter_url, class:'horizontalbar_link' %></li>
            <li><%= link_to '정관', regulations_url, class:'horizontalbar_link' %></li>
          </ul>   
        </li>
          
        <li>내 소모임
          <ul>
           <% for group in current_user.groups %>
            <li><%= link_to group.name, group_url(group), class:'horizontalbar_link' %></li>
           <% end %>
           <li><%= link_to '소모임 찾기', groups_url, class: 'horizontalbar_option_link' %></li>
           <li><%= link_to '+ 소모임 만들기', new_group_url, class: 'sidebar_option_link' %></li>
          </ul>
        </li>
        <li>네트워크
          <ul>
            <li><%= link_to '동문 검색', network_url, class:'horizontalbar_link' %></li>
            <li> <%= link_to '학교별 동문 검색', network_school_url, class:'horizontalbar_link' %></li>
            <li><%= link_to '직장별 동문 검색', network_organization_url, class:'horizontalbar_link' %></li>
          </ul>
        </li>
        <li><%= link_to '로그아웃', logout_url, id:'logout_link', class: 'horizontal_option_link', method: :delete %></li>
           
      </ul>      
  </div>
