<!DOCTYPE html>
<html>
<head>
  <title>민족사관고등학교 동문회</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag asset_path('kmla.ico')' %>
  <link href='http://api.mobilis.co.kr/webfonts/css/?fontface=NanumGothicWeb'
        rel='stylesheet' type='text/css' />
</head>
<body>
  <% if flash[:warning] %>
    <div id='notice'><%= flash[:warning] %></div>
  <% end %>
  <div id='wrapper'>
    <div class='sidebar_container'>
      <div class='logo'>
        <a href='/'><%= image_tag(asset_path 'logo.png') %></a>
      </div>
      <div class='sidebar'>
        
        <div class='sidebar_title'><%= current_user.wave %>기 <%= current_user.name %></div>
        <div class='sidebar_link_container float-right'>
          <%= link_to '뉴스피드', root_url, class:'sidebar_link' %>
        </div>
        <div class='sidebar_link_container float-right'>
          <%= link_to '내 프로필', profile_url(current_user), class: 'sidebar_link' %>
        </div>
        <div class='sidebar_link_container float-right'>
          <%= link_to '내 정보 설정하기', settings_url, class: 'sidebar_option_link' %>
        </div>
        
        <div><%= image_tag(asset_path 'sidebar_divider.png') %></div>
       
        <div class='sidebar_title'>동문회</div>
        <div class='sidebar_link_container float-right'>
          <%= link_to '공지사항', announcement_url, class:'sidebar_link' %>
        </div>
        <div class='sidebar_link_container float-right'>
          <%= link_to '뉴스레터', newsletter_url, class:'sidebar_link' %>
        </div>
        <div class='sidebar_link_container float-right'>
          <%= link_to '정관', regulations_url, class:'sidebar_link' %>
        </div>
        
        
        <div><%= image_tag(asset_path 'sidebar_divider.png') %></div>
        
        <div class='sidebar_title'>내 소모임</div>
        <% for group in current_user.groups %>
          <div class='sidebar_link_container float-right'><%= link_to group.name, group_url(group), class:'sidebar_link' %></div>
        <% end %>
        <div class='sidebar_link_container float-right'>
          <%= link_to '소모임 찾기', groups_url, class: 'sidebar_option_link' %>
        </div>
        <div class='sidebar_link_container float-right'>
          <%= link_to '+ 소모임 만들기', new_group_url, class: 'sidebar_option_link' %>
        </div>
       
        <div><%= image_tag(asset_path 'sidebar_divider.png') %></div>
        
        <div class='sidebar_title'>네트워크</div>
        <div class='sidebar_link_container float-right'>
          <%= link_to '동문 검색', network_url, class:'sidebar_link' %>
        </div>
        <div class='sidebar_link_container float-right'>
          <%= link_to '학교별 동문 검색', network_school_url, class:'sidebar_link' %>
        </div>
        <div class='sidebar_link_container float-right'>
          <%= link_to '직장별 동문 검색', network_organization_url, class:'sidebar_link' %>
        </div>
        
        <div><%= image_tag(asset_path 'sidebar_divider.png') %></div>
        
        <div class='sidebar_link_container float-right'>
          <%= link_to '로그아웃', logout_url, id:'logout_link', class: 'sidebar_option_link', method: :delete %>
        </div>
      </div>
    </div>
    <div id='main_container'>
         <%= yield %>     
    </div>
    <div id='dialog_box' style='display:none'>
      <div id='dialog_header'>
        <div id='dialog_title'></div>
      </div>
      <div id='dialog_content'>
         Loading...
      </div>
      <div id='dialog_footer'>
        <div id='dialog_close_link'><%= link_to '닫기', '#', id: 'dialog_close_link' %></div>
      </div>
    </div>
  </div>
  
  <script type="text/javascript">
      
    var timezone = jstz.determine();
    document.cookie = 'time_zone='+timezone.name()+';';
    
    $('body').on('focus', 'textarea', function(){
      $(this).autosize();  
    });
    
    $('body').on('click', '.get_posting_likes_link', function(event) {
      event.preventDefault();
      $('#dialog_title').html('이 포스팅을 좋아하는 동문들');
      $('#dialog_box').show();
      $.ajax({ 
        url: this.href,
        type: 'get',
        dataType: 'html',
        success: function(data) { 
          $('#dialog_content').html(data);
        }
      });
    });
    
    $('body').on('click', '.get_comment_likes_link', function(event) {
      event.preventDefault();
      $('#dialog_title').html('이 댓글을 좋아하는 동문들');
      $('#dialog_box').show();
      $.ajax({ 
        url: this.href,
        type: 'get',
        dataType: 'html',
        success: function(data) { 
          $('#dialog_content').html(data);
        }
      });
    });
  
    
    $(document).ready( function() {
      
      $('#dialog_close_link').click( function(event){
        event.preventDefault();
        $('#dialog_title').html('');
        $('#dialog_content').html('Loading...');
        $('#dialog_box').hide();
      });

    });

  </script>
  
</body>
</html>
