<!DOCTYPE html>
<html>
<head>
  <title>민족사관고등학교 동문회</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag '/assets/kmla.ico' %>
  <link href='http://api.mobilis.co.kr/webfonts/css/?fontface=NanumGothicWeb'
        rel='stylesheet' type='text/css' />
  <link href='http://api.mobilis.co.kr/webfonts/css/?fontface=NanumPenWeb'
        rel='stylesheet' type='text/css' />
</head>
<body>
  <%= yield %>
</body>
