<h2>User Settings</h2>

<div>
  <% resource.errors.each do |errors| %>
    <%= errors %>
  <% end %>
</div>

<div>
  이름: <%= current_user.name %>
</div>
<div>
  아이디: <%= current_user.username %>
</div>
<div>
  기수: <%= current_user.wave %>
</div>

<div>
  이메일: <%= current_user.email %>
  <%= link_to "수정", get_update_form_url(section: :email), id: "email_update_link" %>
  <div id="email_update_form"></div>
</div>

<div>
  <%= link_to "비밀번호 수정", get_update_form_url(section: :password), id: "password_update_link" %>
  <div id="password_update_form"></div>
</div>

<script text="javascript">
  $(document).ready( function() {
  
    function process_click(type, url) {
      form = '#' + type + '_update_form'
      if ($(form).is(':empty')) {
        $.ajax({
          url: url,
          type: 'get',
          dataType: 'script',
        });
      } else {
        $(form).empty();
      }
    }
    
    $("#email_update_link").click( function(event) {
      event.preventDefault();
      process_click('email', this.href);
    });
    
    $("#password_update_link").click( function(event) {
      event.preventDefault();
      process_click('password', this.href);
    });
  });
</script>
