<h2>내 정보 설정</h2>

<div>
  <% resource.errors.each do |errors| %>
    <%= errors %>
  <% end %>
</div>

<div>
  이름: <%= current_user.name %>
</div>
<div>
  기수: <%= current_user.wave %>
</div>

<div>
  이메일: 
  <div id='email'><%= current_user.email %></div>
  <%= link_to "수정", get_form_url(section: :update_email_form), id: 'update_email_form_link', class: 'get_form_link' %>
  <div id='update_email_error_message'></div>
  <div id="update_email_form_container" class="get_form_container"></div>
</div>

<div>
  학교: 
  <div id="add_education_form_error_message"></div>
  <%= render 'settings/add_education_form' %>
  <div id="educations">
    <% for education in current_user.educations %>
      <%= render partial: 'educations/education', locals:{education: education, update: true} %>
    <% end %>
  </div>
</div>

<div>
  비밀번호:
  <%= link_to "수정", get_form_url(section: :update_password_form), id: 'update_password_form_link', class: 'get_form_link' %>
  <div id='update_password_error_message'></div>
  <div id="update_password_form_container" class="get_form_container"></div>
</div>

<script text="javascript">
  $(document).ready( function() {
    
    $('body').on('click', '.get_form_link', function(event) {
      event.preventDefault();
      $('.get_form_container').empty();
      $.ajax({
          url: this.href,
          type: 'get',
          dataType: 'script',
      });
    });
  });
</script>
