<h2>회원 가입</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <% if !resource.errors[:wave].empty? %>
    <div><%= resource.errors[:wave][0] %></div>
  <% end %>
  <table>
    <tr>
      <td><%= f.text_field :name, placeholder: "이름", autocomplete: :off %></td>
      <td>
        <% if !resource.errors[:name].empty? %>
          <%= resource.errors[:name][0] %><br/>
        <% end %>
      </td>
    </tr>
    <tr>
      <td><%= f.text_field :student_number, placeholder: "학번", autocomplete: :off %></td>
      <td>
        <% if !resource.errors[:student_number].empty? %>
          <%= resource.errors[:student_number][0] %><br/>
        <% end %>
      </td>
    </tr>
    <tr>
      <td><%= f.text_field :email, placeholder: "이메일", autocomplete: :off %></td>
      <td>
        <% if !resource.errors[:email].empty? %>
          <%= resource.errors[:email][0] %><br/>
        <% end %>
      </td>
    </tr>
    <tr>
      <td><%= f.password_field :password, placeholder: "비밀번호", autocomplete: :off %></td>
      <td>
        <% if !resource.errors[:password].empty? %>
          <%= resource.errors[:password][0] %><br/>
        <% end %>
      </td>
    </tr>
    <tr>
      <td><%= f.submit "가입하기" %></td>
      <td>
      </td>
    </tr>
  
<% end %>
